{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
<center>
   <u> <h1  style="color: #fa0909;" > JAVN <span class="badge badge-secondary">BESTIES</span></u></h1>
</center>


<a href="https://www.mysmartprice.com/gear/best-friend-captions-for-instagram/" class="badge badge-success"> ABOUT P.V.JAGADEESH</a>
<div class="card" style="width: 18rem;">
    <img src="{% static 'images/aaa2.jpg' %}" class="card-img-top" alt="jagadeesh">
    <div class="card-body">
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fvardhan141%2Fstatus%2F1371023352320561153&psig=AOvVaw1xFp5m-kCI5KWnHRwUp83I&ust=1679766239656000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJCAvZSP9f0CFQAAAAAdAAAAABAE">about jagadeesh </a>
      <p class="card-text"> P.V.JAGADEESH PRATHAP is one of my bestfriend </p>
    </div>

    <a href="https://www.mysmartprice.com/gear/best-friend-captions-for-instagram/" class="badge badge-success">ABOUT VIJAYALAKHMI </a>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/aaa4.jpeg' %}" class="card-img-top" alt="VIJJI SAHARA ">
        <div class="card-body">
            <a href="https://i.ytimg.com/vi/SdljLSEVMYE/maxresdefault.jpg">ABOUT VIJJI </a>
          <p class="card-text"> GIRL BESTIE <I style="color: chartreuse;"> VIJJI SAHARA </I></p>
        </div>
      </div>



      
    
      
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST_bdoopM7Bbh0TEK7NKfAEhIn9UcF4VnEzA&usqp=CAU" class="badge badge-success">ABOUT SHAIK ASIF </a>
      <div class="card" style="width: 18rem;">
          <img src="{% static 'images/aaa6.jpg' %}" class="card-img-top" alt="NARENDRA">
          <div class="card-body">
              <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGboztAq_C7al5cKVWFrlH61LwX8ada8RQeA&usqp=CAU">about SHAIK ASIF</a>
            <p class="card-text"> MY SELF   <U style="color: #05f561;">ASIF </U>  </p>
          </div>
        </div>


















  
  <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST_bdoopM7Bbh0TEK7NKfAEhIn9UcF4VnEzA&usqp=CAU" class="badge badge-success">ABOUT NARENDRA</a>
  <div class="card" style="width: 18rem;">
      <img src="{% static 'images/aaa3.jpg' %}" class="card-img-top" alt="NARENDRA">
      <div class="card-body">
          <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST_bdoopM7Bbh0TEK7NKfAEhIn9UcF4VnEzA&usqp=CAU">about NARENDRA</a>
        <p class="card-text">  AM LUCKY PERSON BECAUSE <U style="color: #f50505;">NARENDRA </U> IS MY FRIEND  </p>
      </div>
    </div>
  
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    
  </body>
</html>