{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body style="background-image: url('{% static 'images/viji.jpeg' %}');">
    
   <h1> hello world </h1>
   <center>
    <h1 style="color: blue;">
        SHE IS TEADY LOVER  
    </h1>
    <!-- <img src="{% static 'images/spvm1.jpg' %}" alt="spvm" srcset=""> -->
    <!-- <img src="{% static 'images/friend.jpg' %}" alt="friends" srcset=""> -->
   </center>
   <leftbottom>
    <h1>
    <ol style="color: #ff0505;">
        <marquee><h1><li>
    vijji is beautiful girl  </li></marquee>
    <marquee><li ><h1> she is MY BESTIE </h1></li></marquee>

    <marquee><li><h1> she is BHAYANKARA software developer </h1> </li></marquee>
    <marquee><li><h1>she is candy(chocolates & ice-creams ) lover </h1></li></marquee>
    
    </ol>
</h1>
</leftbottom>
</body>
</html>